@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes animate {
  0% {
    transform: translateX(-50px);
  }
  5% {
    transform: translateX(-40px);
  }
  10% {
    transform: translateX(-30px);
  }
  15% {
    transform: translateX(-20px);
  }
  20% {
    transform: translateX(-10px);
  }
  25% {
    transform: translateX(-5px);
  }
  30% {
    transform: translateX(0px);
  }
  35% {
    transform: translateX(5px);
  }
  40% {
    transform: translateX(10px);
  }
  45% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(30px);
  }
  55% {
    transform: translateX(40px);
  }
  60% {
    transform: translateX(50px);
  }
  65% {
    transform: translateX(40px);
  }
  70% {
    transform: translateX(30px);
  }
  75% {
    transform: translateX(20px);
  }
  80% {
    transform: translateX(10px);
  }
  85% {
    transform: translateX(0px);
  }
  90% {
    transform: translateX(-10px);
  }
  95% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(-50px);
  }
}
@keyframes animate2 {
  0% {
    transform: translate(-30px, -50px);
  }
  4% {
    transform: translate(-30px, -30px);
  }
  8% {
    transform: translate(-30px, -10px);
  }
  12% {
    transform: translate(-30px, 10px);
  }
  16% {
    transform: translate(-30px, 30px);
  }
  20% {
    transform: translate(-10px, 10px);
  }
  24% {
    transform: translate(10px, -10px);
  }
  28% {
    transform: translate(30px, -30px);
  }
  32% {
    transform: translate(50px, -50px);
  }
  36% {
    transform: translate(50px, -30px);
  }
  40% {
    transform: translate(50px, -10px);
  }
  44% {
    transform: translate(50px, 10px);
  }
  48% {
    transform: translate(50px, 30px);
  }
  52% {
    transform: translate(50px, 10px);
  }
  55% {
    transform: translate(50px, -10px);
  }
  60% {
    transform: translate(50px, -30px);
  }
  64% {
    transform: translate(50px, -50px);
  }
  68% {
    transform: translate(30px, -30px);
  }
  72% {
    transform: translate(10px, -10px);
  }
  76% {
    transform: translate(-10px, 10px);
  }
  80% {
    transform: translate(-30px, 30px);
  }
  84% {
    transform: translate(-30px, 10px);
  }
  88% {
    transform: translate(-30px, -10px);
  }
  93% {
    transform: translate(-30px, -30px);
  }
  100% {
    transform: translate(-30px, -50px);
  }
}

.line {
  animation: animate 1s ease-in;
  animation-iteration-count: infinite;
}
.zigzag {
  animation: animate2 2s ease-in;
  animation-iteration-count: infinite;
}
